# Compiler files
cache/
out/
zkout/
*.bak

# Ignores development broadcast logs
/broadcast

# Docs
foundry-docs/

# Dotenv file
.env

# Node modules
node_modules/
.DS_Store
src/.DS_Store

npm-artifacts/src/abi.ts
npm-artifacts/dist
