# Compiler files
cache/
out/
zkout/
*.bak
*.log

# Ignores development broadcast logs
/broadcast

# Docs
foundry-docs/

# Dotenv file
.env

# Node modules
node_modules/
docs-gen/bun.lock
.DS_Store
src/.DS_Store

npm-artifacts/dist
npm-artifacts/node_modules
report/
lcov.info
